// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$colorDanger:rgb(102, 13, 13);
$colorDangerLite:rgb(245, 43, 43);
$colorMain:#0174df;
$colorPrimary:#0174df;
$colorSuccess:rgb(64, 190, 70);
$colorMedium:rgb(97, 97, 97);
$colorborder:#cdcdcd;
$brown:rgb(163, 106, 106);
