.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.font-25{
    font-size: 25px;
}
.font-bolder{
    font-weight: bolder;
}
.app-laravel{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    direction: rtl;
}
.app-danger{
    color:$colorDanger;
}
.app-primary{
    color:$colorPrimary;
}
.app-sucess{
    color:$colorSuccess;
}
a,a:hover{
    color: unset;
}

    nav {direction: rtl;}
    .navbar-nav{
        padding-right: 1rem;
    }
    .navbar-collapse{

    }
.dropdown-item{
    text-align: right !important;
}
.app-absolute-lt{
    position: absolute;
    top: 0px;
    left: 0px;
}
.app-border-l{
    border-left: 1px solid #ccc !important;
}
//* right to left bootstrap
@media screen and  (min-width: 768px){
    .navbar-expand-md .navbar-nav {
        margin-right: 0px !important;
    }
}
.modal-header .close {
    padding: unset !important;
    margin: unset !important;
}
.fa-exclamation-triangle{
    color: $colorDanger;
}
.modal-body{
    text-align: right;
}
.input-group:not(.has-validation) > .form-control:not(:last-child) {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: unset;
    border-bottom-left-radius:unset;
}
.input-group > .input-group-prepend:not(:first-child) > .btn{
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius:0.25rem;
}
.col-xl, .col-xl-auto, .col-xl-12,
.col-xl-11, .col-xl-10, .col-xl-9,
.col-xl-8, .col-xl-7, .col-xl-6,
.col-xl-5, .col-xl-4, .col-xl-3,
.col-xl-2, .col-xl-1, .col-lg,
.col-lg-auto, .col-lg-12,
.col-lg-11, .col-lg-10, .col-lg-9,
.col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5,
.col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1,
.col-md, .col-md-auto, .col-md-12, .col-md-11,
.col-md-10, .col-md-9, .col-md-8, .col-md-7,
.col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2,
.col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11,
.col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6,
.col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1,
.col, .col-auto, .col-12, .col-11, .col-10, .col-9,
.col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2,
.col-1{
    padding-right: unset;
    padding-left: unset;
    text-align: right;
}
// my custom style tags
.simple-tags{
    margin: unset;
    border: 1px solid $colorborder;
    line-height: unset;

}
.simple-tags ul li {
    background-color: #1b1c1c;
}
// hiden shows file
::-webkit-file-upload-button {
    display: none;
}
.app-input-file{
    width: 100%;
    border: 1px solid $colorborder;
    padding: 8px;
    border-radius: 3px;
    font-weight: bolder;
    color: $brown;
}
.app-label{
    width: 100%;
    text-align: right;
    font-weight: bolder;
    font-size: 20px;
    color: $colorMedium;
    margin-right: 12px;
    span{
        margin-right: 10px;
        font-weight: unset;
        color:$brown;
    }
    &.text-center{
        margin-right: unset;
    }
}
.app-header{
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
    text-shadow: 1px 0px 1px $teal;

}
.submit , .app-submit{
    display: block !important;
    margin: auto;
    width: 50%;

}
#custom-simple-tags > ul >li:first-child{
    display: none;
}
.bolder{
    font-weight: bolder;
}
.app-card{
    padding: 10px;
    min-width: unset;
    margin: unset;
    border: 1px solid #aaa;
    border-radius: 10px;
    .app-card-header{
        display: inline-block;
        width: 180px;
        padding-right: 16px;
        margin-right: 3%;
        font-weight: bolder;
        color: #2a2727;
        border-radius: 10px;

    }

}
.app-unset.card-body{
    padding: 2px;
}
.app-tringal{
    position: absolute;
    left: 0px;
    width: 0px;
    height: 0;
    border-bottom: 117px solid transparent;
    /* border-top: 50px solid transparent; */
    border-left: 113px solid $colorMedium;
    margin-top: -3px;
}
.app-tringal-right{

    position: absolute;
    right: 0px;
    width: 0px;
    height: 0;
    border-bottom: 117px solid transparent;
    border-right: 113px solid #616161;
    margin-top: -3px;
}
.discount{
    text-decoration: line-through;
}
.app-absolute-lb{
    position: absolute;
    bottom: 0px;
    left: 0px;

}
    .list-group {
        padding-inline-start: 0px;
    }
.list-group-item {
    padding: 0px !important;
}
.app-empty{
    margin: 0;
    position: absolute;
    top: 37%;
    left: 50%;
    font-size: 30px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 3px black;
}
.app-shadow-3{
    text-shadow: 0 0 3px black;
}
.app-w{
    width: 140px;
}
.profile-img-card{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 3px black;
    vertical-align: middle;
    border-style: none;
    border: 0px solid;
    border-radius: 50%;
}
.app-list-child-c{
    border-left: 1px solid #ccc ;
    padding:10px !important;
}
.breadcrumb{
    direction: ltr;
    justify-content: end;
}
.app-un-decoration{
text-decoration: none !important ;
}
.left{
    left:0px;
}
@media only screen and(max-width:768px) {
    .app-label{

        font-size: 15px;
        span{
            font-size: 10px;
        }
    }
    .app-absolute-lb ,.app-absolute-lt {
        position: relative;
    }
    .app-list.list-group-horizontal{
        flex-direction: column !important;
        .app-list-child{
            justify-content: center;
            img{
                display: block;
                margin: auto;
            }
        }

    }
    .messages{
        .card-body{
            width: 90vw !important;
        }
    }
}
a:hover{
    text-decoration: none !important;
}
.wrap-break{
    word-break:break-all !important;
}
