| @extends('layouts.app') @section('content')
.container
  .row.justify-content-center
    .col-md-8
      .card
        .card-header {{ __('لوحة التحكم') }}
        .card-body
          | @if (session('status'))

          .alert.alert-success(role="alert").

            {{ session('status') }}

          | @endif {{ __('مرحبا بك') }}

| @endsection
