.dropdown-item.category:hover{
    background-color: #f7f7f7;
    color: #000000 !important;
}
#header-catogry-routes{
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 23px;
    color: $teal;
    text-shadow: -1px -1px 1px black;
}
.app-profile{
    @media only screen and( max-width:1199px) {

    }

    @media only screen and( min-width:768px) {
        .row{
            & > div:first-child{
                padding-left: 25px;
            }
        }
    }
    .app-label{

        span{
            font-size: 13px;
        }
    }

        & > div:first-child{
            margin: auto;
            padding-bottom: 25px;
            text-align:center ;
        }
    .card-body{
        a:hover{
            text-decoration: none;
            color: $colorPrimary;
        }
        i{
            color:$colorPrimary;
            padding: 5px;
        }
    }
    .app-details{
        margin-bottom: 25px;
        .card-body{
            padding-right: 10px;
            padding-left: 0;
            div{
                span:first-child{
                    font-weight: bolder;
                }
                span:last-child{
                    font-weight: bold;
                }
            }
        }
        .card-header{
            a:hover{
                text-decoration: none;
                color: $colorPrimary;
            }
            i{
                color:$colorPrimary;
                padding: 5px;
            }
        }
        img{
            cursor: pointer;
            margin-right: -10px;
            border: 0px solid black;
            border-radius: 50%;
            box-shadow: 1px 2px 1px #00000085;

        }
        .label-img:hover:after{
            // content: "تغيير الصورة";
            // position: absolute;
            // /* top: 0; */
            // right: 49px;
            // bottom: 18px;
            // background: white;
            // border: 1px dashed #0000ff30;
            // border-radius: 15px;
            // padding-right: 5px;
            // padding-left: 5px;
            // padding-bottom: 2px;
            // background-color: $colorMedium;
            // color: white;
            // left: -55px;
        }

    }
}
.card{
    .delete{
        position: absolute;
        left: 12px;
        margin-top: 10px;
    }
    .show{
        position: absolute;
        right: 12px;
        margin-top: 10px;
    }
}
.card-place{
    a:hover{
        text-decoration: none;
    }
}
.app-home-service{
    img{
        width: 180px;
        height: 180px;
    }
    .sellery{
        &::after{
            content: "جنية";
        }
    }

}
